<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head th:replace="layout::head">


</head>

<body id="body">
    <main layout:fragment="main">
        <section class="about-div section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <img class="img-responsive" src="images/building.jpg">
                    </div>
                    <div class="col-md-6">
                        <h2>Quiénes somos</h2>
                        <p>Tienda San Juan nació hace más de 80 años en la provincia de Salta. Nuestro fundador fue un
                            inmigrante que llegó a esa ciudad y empezó con un pequeño local cerca de la plaza principal.
                        </p>
                        <p>Con mucha dedicación y esfuerzo se convirtió en un local de venta de Indumentaria, Ropa de
                            Cama, Telas y muchas cosas más.
                            Con el correr de los años, y la incorporación de las nuevas generaciones a la compañía, fue
                            creciendo y desarrollándose, hasta alcanzar su dimensión actual.</p>
                        <p>Hoy tiene presencia con sus sucursales en las provincias de Salta y Tucumán e influencia en
                            todo el NOA. Ofrecemos una gran variedad de productos, a excelentes precios, y de marcas
                            reconocidas.</p>
                        <p>Esto se ha logrado gracias al esfuerzo de muchísima gente y el apoyo de todo el equipo, lo
                            que ha llevado a conformar una gran familia.</p>
                        <p>En Tienda San Juan nos preocupamos por los detalles. Nos preocupamos de brindar el mejor
                            servicio, y generar un espacio en donde la experiencia de compra de nuestros clientes sea
                            agradable y placentera. Haciendo que nuestros clientes
                            vuelvan a nuestros locales.</p>


                        <a href="https://www.facebook.com/TiendaSanJuanOK/" class="btn btn-main">Contactanos!</a>
                    </div>
                </div>

            </div>
        </section>
    </main>

</body>

</html>