<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head th:replace="layout::head">


</head>

<body id="body">
    <main layout:fragment="main">

        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content">
                            <h1 class="page-name">Sobre Nosotros</h1>
                            <ol class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">sobre nosotros</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive" src="../static/images/about/about.jpg">
                    </div>
                    <div class="col-md-6">
                        <h2 class="mt-40">Quiénes somos</h2>
                        <p>Tienda San Juan nació hace más de 80 años en la provincia de Salta. Nuestro fundador fue un
                            inmigrante que llegó a esa ciudad y empezó con un pequeño local cerca de la plaza principal.
                        </p>
                        <p>Con mucha dedicación y esfuerzo se convirtió en un local de venta de Indumentaria, Ropa de
                            Cama, Telas y muchas cosas más.</p>
                        <p>Con el correr de los años, y la incorporación de las nuevas generaciones a la compañía, fue
                            creciendo y desarrollándose, hasta alcanzar su dimensión actual.</p>
                        <p>Hoy tiene presencia con sus sucursales en las provincias de Salta y Tucumán e influencia en
                            todo el NOA. Ofrecemos una gran variedad de productos, a excelentes precios, y de marcas
                            reconocidas.</p>
                        <p>Esto se ha logrado gracias al esfuerzo de muchísima gente y el apoyo de todo el equipo, lo
                            que ha llevado a conformar una gran familia.</p>
                        <p>En Tienda San Juan nos preocupamos por los detalles. Nos preocupamos de brindar el mejor
                            servicio, y generar un espacio en donde la experiencia de compra de nuestros clientes sea
                            agradable y placentera. Haciendo que nuestros clientes
                            vuelvan a nuestros locales.</p>
                        <p>Hoy queremos invitarte a que vos también formes parte y te unas a nosotros. Bienvenidos a la
                            familia de Tienda San Juan</p>


                        <a href="contact.html" class="btn btn-main mt-20">Contactanos!</a>
                    </div>
                </div>

            </div>
        </section>

        <section class="section instagram-feed">
            <div class="container">
                <div class="row">
                    <div class="title" id="sucursales">
                        <h2>Podés encontrarnos en</h2>
                    </div>
                </div>

                <div id="otras-sucursales">
                    <div>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3560.384366166787!2d-65.20794778545117!3d-26.82772449612538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94225c1129ab05b9%3A0x7aa40fa8e76d158b!2sTienda%20San%20Juan%20-%20Tucuman!5e0!3m2!1ses-419!2sar!4v1650320855081!5m2!1ses-419!2sar"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <div>
                        <span>Otras Sucursales</span>

                        <div>
                            <ul>
                                <li>
                                    <b>Tienda San Juan Venta Online</b>
                                    <p>Moreno 1245, CABA (1091) - Solo retiros</p>
                                    <span>Lunes a Viernes de 9:00 a 17:00 hs.</span>
                                </li>

                                <li>
                                    <b>Tienda San Juan Tucumán</b>
                                    <p>Peatonal Mendoza 601, San Miguel de Tucumán, Tucumán</p>
                                    <span>Lunes a Viernes de 9:00 a 13:00 y de 17:00 a 21:00 hs - Sábados de 09:00 a
                                        13:00 y de 17.30 a 21:00 hs.</span>
                                </li>

                                <li>
                                    <b>Tienda San Juan Casa & Hogar</b>
                                    <p>Muñecas 272, San Miguel de Tucumán, Tucumán</p>
                                    <span>Lunes a Viernes de 9:00 a 13:00 y de 17:00 a 21:00 hs - Sábados de 09:00 a
                                        13:00 y de 17.30 a 21:00 hs.</span>
                                </li>

                                <li>
                                    <b>Tienda San Juan Salta</b>
                                    <p>Peatonal Caseros 601, Salta</p>
                                    <span>Lunes a Viernes de 9:00 a 13:00 y de 17:00 a 21:00 hs - Sábados de 09:00 a
                                        13:00 y de 17.00 a 21:00 hs</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                <div class="col-12">
                    <div class="instagram-slider" id="instafeed" data-accessToken="IGQVJYeUk4YWNIY1h4OWZANeS1wRHZARdjJ5QmdueXN2RFR6NF9iYUtfcGp1NmpxZA3RTbnU1MXpDNVBHTzZAMOFlxcGlkVHBKdjhqSnUybERhNWdQSE5hVmtXT013MEhOQVJJRGJBRURn"></div>
                </div>
            </div> -->
            </div>
        </section>
    </main>

</body>

</html>