<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head th:replace="layout::head">

</head>

<body id="body">

    <main layout:fragment="main">
        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content">
                            <h1 class="page-name">Dashboard</h1>
                            <ol class="breadcrumb">
                                <li><a href="/">Home</a></li>
                                <li class="active">my account</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="user-dashboard page-wrapper">
            <div class="container">
                <div class="row">
                    <h1 th:if="${session?.usuario?.direccion == null}">Aun no hay direcciones cargadas.</h1>
                    <div class="col-md-12" th:if="${session?.usuario?.direccion != null}>
                        <ul class="list-inline dashboard-menu text-center">
                            <li><a href="/usuario/compras">Dashboard</a></li>
                            <li><a class="active" href="/usuario/direccion">Direcciones</a></li>
                            <li><a href="/usuario/perfil">Perfil</a></li>
                        </ul>
                        <div class="dashboard-wrapper user-dashboard">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Direccion</th>
                                            <th>Ciudad</th>
                                            <th class="col-md-2 col-sm-3">Telefono</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td th:text="${session?.usuario?.fullName}">Adam Smith</td>
                                            <td th:text="${session?.usuario?.direccion.address}">9/4 C Babor Road, Mohammad Pur, Dhaka</td>
                                            <td th:text="${session?.usuario?.direccion.city}">Bangladesh</td>
                                            <td th:text="'+'+${session?.usuario?.phoneNumber}">+884 5452 6452</td>
                                            <td>
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-default"><i class="tf-pencil2"
                                                            aria-hidden="true"></i></button>
                                                    <button type="button" class="btn btn-default"><i
                                                            class="tf-ion-close" aria-hidden="true"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


</body>

</html>