<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head th:replace="layout::head">

</head>

<body id="body">

	<main layout:fragment="main">

		<!--ARTICULO-->
		<section class="single-product" th:object="${articulo}">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<ol class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li><a href="shop.html">Shop</a></li>
							<li class="active">Single Product</li>
						</ol>
					</div>
					<div class="col-md-6">
						<ol class="product-pagination text-right">
							<li><a href="blog-left-sidebar.html"><i class="tf-ion-ios-arrow-left"></i> Next </a>
							</li>
							<li><a href="blog-left-sidebar.html">Preview <i class="tf-ion-ios-arrow-right"></i></a>
							</li>
						</ol>
					</div>
				</div>
				<div class="row mt-20">
					<div class="col-md-5">
						<div class="single-product-slider">
							<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
								<div class='carousel-outer'>
									<!-- me art lab slider -->
									<div class='carousel-inner '>
										<div class='item active'>
											<img th:src="@{/foto/articulo(idArticulo= ${articulo.id})}" alt=''
												data-zoom-image="images/shop/single-products/product-1.jpg" />
										</div>
										

									</div>

									<!-- sag sol -->
									<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
										<i class="tf-ion-ios-arrow-left"></i>
									</a>
									<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
										<i class="tf-ion-ios-arrow-right"></i>
									</a>
								</div>

								<!-- thumb -->
								<ol class='carousel-indicators mCustomScrollbar meartlab'>
									<li data-target='#carousel-custom' data-slide-to='0' class='active'>
										<img th:src="@{/foto/articulo(idArticulo= ${articulo.id})}" alt='' />
									</li>
									
									</li>
								</ol>
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<div class="single-product-details">
							<h1 th:text="${articulo.title}"> </h1>
							<h2><p class="product-price" th:text="'$'+${articulo.price}"></p></h2>

							<p class="product-description mt-20" th:text="${articulo.description}">
							</p>

							<div class="color-swatches">
								<span>color:</span>
								<span th:text="${articulo.color}"></span>
								<!-- <ul>
									<li>
										<a th:href="@{/foto/articulo(idArticulo = ${articulo.id})}"
											class="swatch-violet"></a>
									</li>
									<li>
										<a href="#!" class="swatch-black"></a>
									</li>
									<li>
										<a href="#!" class="swatch-cream"></a>
									</li>
								</ul> -->
							</div>
							<div class="product-size" th:if="${articulo.tipoMedida != null}">
								<span>Talle/Tamaño:</span>
								<span th:if="${articulo.ropaComun != null}" th:text="${articulo.ropaComun}"></span>
								<span th:if="${articulo.pantalones != null}" th:text="${articulo.pantalones}"></span>
								<span th:if="${articulo.ninios != null}" th:text="${articulo.ninios}"></span>
								<span th:if="${articulo.bebes != null}" th:text="${articulo.bebes}"></span>
								<span th:if="${articulo.plazas != null}" th:text="${articulo.plazas}"></span>
								<!-- <select class="form-control">
									<option>S</option>
									<option>M</option>
									<option>L</option>
									<option>XL</option>
								</select> -->
							</div>
							<div class="product-quantity">
								<span>Quantity: 1</span>
								<!-- <div class="product-quantity-slider">
									<input id="product-quantity" type="text" value="0" name="product-quantity">
								</div> -->
							</div>
							<div class="product-category">
								<span>Categorias:</span>
								<ul>
									<li><a href="product-single.html" th:text="${articulo.categoria}"></a></li>
								</ul>
							</div>
							<a th:href="@{/detalle/agregarAlCarrito (idArticulo=${articulo.id})}"
								class="btn btn-main mt-20">Add To Cart</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="tabCommon mt-20">
							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#details"
										aria-expanded="true">Detalles</a>
								</li>
							</ul>
							<div class="tab-content patternbg">
								<div id="details" class="tab-pane fade active in">
									<h4>Descripcion del Producto</h4>
									<p th:text="${articulo.description}"></p>
								</div>
								<div id="reviews" class="tab-pane fade">
									<div class="post-comments">
										<ul class="media-list comments-list m-bot-50 clearlist">

										</ul>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section> <!-- /ARTICULO-->


		<section class="products related-products section">
			<div class="container">
				<div class="row">
					<div class="title text-center">
						<h2>Related Products</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="product-item">
							<div class="product-thumb">
								<span class="bage">Sale</span>
								<img class="img-responsive" src="/images/shop/products/product-5.jpg"
									alt="product-img" />
								<div class="preview-meta">
									<ul>
										<li>
											<span data-toggle="modal" data-target="#product-modal">
												<i class="tf-ion-ios-search"></i>
											</span>
										</li>
										<li>
											<a href="#"><i class="tf-ion-ios-heart"></i></a>
										</li>
										<li>
											<a href="#!"><i class="tf-ion-android-cart"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<h4><a href="product-single.html">Reef Boardsport</a></h4>
								<p class="price">$200</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="product-item">
							<div class="product-thumb">
								<img class="img-responsive" src="/images/shop/products/product-1.jpg"
									alt="product-img" />
								<div class="preview-meta">
									<ul>
										<li>
											<span data-toggle="modal" data-target="#product-modal">
												<i class="tf-ion-ios-search-strong"></i>
											</span>
										</li>
										<li>
											<a href="#"><i class="tf-ion-ios-heart"></i></a>
										</li>
										<li>
											<a href="#!"><i class="tf-ion-android-cart"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<h4><a href="product-single.html">Rainbow Shoes</a></h4>
								<p class="price">$200</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="product-item">
							<div class="product-thumb">
								<img class="img-responsive" src="/images/shop/products/product-2.jpg"
									alt="product-img" />
								<div class="preview-meta">
									<ul>
										<li>
											<span data-toggle="modal" data-target="#product-modal">
												<i class="tf-ion-ios-search"></i>
											</span>
										</li>
										<li>
											<a href="#"><i class="tf-ion-ios-heart"></i></a>
										</li>
										<li>
											<a href="#!"><i class="tf-ion-android-cart"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<h4><a href="product-single.html">Strayhorn SP</a></h4>
								<p class="price">$230</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="product-item">
							<div class="product-thumb">
								<img class="img-responsive" src="/images/shop/products/product-3.jpg"
									alt="product-img" />
								<div class="preview-meta">
									<ul>
										<li>
											<span data-toggle="modal" data-target="#product-modal">
												<i class="tf-ion-ios-search"></i>
											</span>
										</li>
										<li>
											<a href="#"><i class="tf-ion-ios-heart"></i></a>
										</li>
										<li>
											<a href="#!"><i class="tf-ion-android-cart"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<h4><a href="product-single.html">Bradley Mid</a></h4>
								<p class="price">$200</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>



		
	</main>

</body>

</html>